@import "~github-markdown-css/github-markdown.css";
@import "~prismjs/themes/prism-okaidia.css";
@import "~katex/dist/katex.min.css";
@import '~prismjs/plugins/treeview/prism-treeview.css';
@import '~prismjs/plugins/line-numbers/prism-line-numbers.css';

.markdown-body ol {
    @apply list-decimal;
}

.markdown-body ul {
    @apply list-disc;
}

.markdown-body pre {
    @apply w-full;
}

.markdown-body h1:first-child {
    @apply hidden;
}

.markdown-body > .image-wrapper {
    @apply my-6;
}

.markdown-body .math-display {
    max-width: 90%;
    overflow: auto;

}

.markdown-body .katex-display {
    min-width: max-content;
    margin: auto;
    padding-right: 40px;
}

.markdown-body .katex-display .katex-html {
    padding-right: 60px;
}